stages:
  - build
  - package

# ---------------- FRONTEND (React) ----------------
build_frontend:
  image: node:20
  stage: build
  script:
    - cd travelo_frontend
    - npm install
    - CI=false npm run build

# ---------------- BACKEND (Spring Boot) ----------------
build_backend:
  image: maven:3-eclipse-temurin-17
  stage: build
  script:
    - cd travelo_backend
    - mvn -B clean package

# ---------------- DOCKER FRONTEND: build + push ----------------
docker_frontend:
  image: docker:latest
  stage: package
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - docker build -t "$DOCKER_HUB_USERNAME/travelo-frontend:latest" travelo_frontend
    - docker push "$DOCKER_HUB_USERNAME/travelo-frontend:latest"
  needs:
    - build_frontend

# ---------------- DOCKER BACKEND: build + push ----------------
docker_backend:
  image: docker:latest
  stage: package
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u "$DOCKER_HUB_USERNAME" -p "$DOCKER_HUB_PASSWORD"
    - docker build -t "$DOCKER_HUB_USERNAME/travelo-backend:latest" travelo_backend
    - docker push "$DOCKER_HUB_USERNAME/travelo-backend:latest"
  needs:
    - build_backend
